<div class="col-md-5">
	<input required placeholder="Enter Your Question?" class="inline-input" name="title[]">
	<input name="field-name[]" placeholder="Field Name" class="form-control inline-block field-name">
	<label class="inline-block label-gray">
		<input onchange="summarizeCheckbox(this)" type="checkbox"> Summarize
		<input type="hidden" name="summarize[]" value="0">
	</label>
</div>
<div class="col-md-3">
	<select class="form-control" required name="q_type[]" onchange="questionTypeChange(this)">
		<option disabled selected value="">Select question type</option>
		<option value="open-text">Open Text</option>
		<option value="radio">Radio Buttons</option>
		<option value="select">Select</option>
		<option value="checkbox">Checkboxes</option>
		<option value="short-text">Short Text</option>
	</select>
	<div class="q_type_fields">
		<select class="select2-tags form-control" multiple></select>
		<input name="q_type_fields[]" type="hidden">
	</div>
</div>
<div class="col-md-3 chart-options">
	<select class="form-control" name="q_chart[]">
		<option value="" selected>Select Option</option>
		<option value="pie-chart">Pie Chart</option>
		<option value="bar-chart">Bar/Column Chart</option>
		<option value="list-analysis">List Analysis</option>
		<option value="table-analysis">Table Analysis</option>
	</select>
</div>
